@*@model IEnumerable<Web_Strore.Models.Customer>*@
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Web_Strore.Models.Customer>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <span class="breadcrumb-item active">Danh sách khách hàng: page @CurrentPage</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-8">
                    <div class="d-md-flex">
                        <div class="m-b-10 m-r-15">
                            <select id="idrole" class="custom-select" style="min-width: 180px;" asp-items="ViewBag.QuyenTruyCap">

                                <option value="0" disabled selected>Chọn quyền truy cập</option>
                            </select>
                        </div>
                        <div class="m-b-10">
                            <select id="idstatus" class="custom-select" style="min-width: 180px;" asp-items="ViewBag.lsTrangThai">

                                <option value="" disabled selected>Chọn trạng thái</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                    <a class="btn btn-primary" asp-controller="AdminCustomers" asp-action="Create">
                        <i class="anticon anticon-plus-circle m-r-5"></i>
                        <span>Add Customer</span>
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Họ và tên</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Địa chỉ</th>
                            <th>Tỉnh/Thành</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach(var item in Model) {
                        <tr>
                            <td>
                                @item.CustomerId
                            </td>
                            <td>
                               @item.FullName
                            </td>
                            <td>@item.Phone</td>
                            <td>@item.Address</td>
                            <td class="text-right">
                                <a class="btn btn-primary btn-tone m-r-5" asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                                <a class="btn btn-secondary btn-tone m-r-5" asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                                <a class="btn btn-danger btn-tone m-r-5" asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                            </td>
                        </tr>
                            }
                        }
                    </tbody>
                </table>
                
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
               
            </div>
        </div>
    </div>

